<header>
  <nav id="header" class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/teacher/personal">布置作业</a></li>
      <li><a href="/teacher/personal">批改作业</a></li>
      <li><a href="/teacher/personal">个人中心</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{real_name}} 老师<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">退出登录</a></li>
          <li><a href="#">退出登录</a></li>
          <li><a href="#">退出登录</a></li>
          <li><a href="#">退出登录</a></li>
          <li><a href="#">退出登录</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>