#question-body {
  h1, h2, h3, h4, h5, h6 {
    display: block!important;
    font-weight: bold!important;
  }
  h1 {
    font-size: 2em!important;
    -webkit-margin-before: 0.67em!important;
    -webkit-margin-after: 0.67em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  h2 {
    font-size: 1.5em!important;
    -webkit-margin-before: 0.83em!important;
    -webkit-margin-after: 0.83em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  h3 {
    font-size: 1.17em!important;
    -webkit-margin-before: 1em!important;
    -webkit-margin-after: 1em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  h4 {
    -webkit-margin-before: 1.33em!important;
    -webkit-margin-after: 1.33em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  h5 {
    font-size: 0.83em!important;
    -webkit-margin-before: 1.67em!important;
    -webkit-margin-after: 1.67em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  h6 {
    font-size: 0.67em!important;
    -webkit-margin-before: 2.33em!important;
    -webkit-margin-after: 2.33em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  p {
    display: block!important;
    -webkit-margin-before: 1em!important;
    -webkit-margin-after: 1em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }
  ul {
    display: block!important;
    list-style-type: disc!important;
    -webkit-margin-before: 1em!important;
    -webkit-margin-after: 1em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
    -webkit-padding-start: 40px!important;
  }
  li {
    display: list-item!important;
    text-align: -webkit-match-parent!important;
  }
  ol {
    -webkit-margin-before: 0px!important;
    -webkit-margin-after: 0px!important;
    display: block;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
    -webkit-padding-start: 40px!important;
  }
  strong, b {
      font-weight: bold!important;
  }
  i, cite, em, var, address, dfn {
    font-style: italic!important;
  }
}