.add-question-wrap{
  overflow: hidden;
}
.add-question-wrap .task-add-question{
  float: left;
}
.task-add-question{
  width: 400px;
}
.task-add-question.choose-type{
  width: 100%;
}
.task-add-question.fill-question, .task-add-question.fill-answer, .task-add-question.choose-type{
  margin-left: 22px;
}
.task-list-btn{
  width: 20px;
  position: fixed;
  right: 0;
  top: 150px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
}
.task-list-btn:hover{
  background: #20a0ff;
  color: #fff;
}
.task-list{
  width: 180px;
  position: fixed;
  right: 0;
  top: 150px;
  text-align: left;
  border: 1px solid #999;
  border-radius: 3px;
  background: #fff;
}
.task-list>div{
  cursor: pointer;
  line-height: 24px;
  font-size: 12px;
  text-indent: 4px;
}
.task-list>div:hover, .task-list div.selected{
  background: #20a0ff;
  color: #fff;
}
/* h2{
  font-size: 20px;
  border-left: 2px solid #20a0ff;
  text-indent: 10px;
  margin-bottom: 10px;
} */
h1{
  margin: 20px 40px;
  font-size: 20px;
  font-weight: normal;
  text-indent: 20px;
  border-left: 4px solid #2d8cf0;
}
h3{
  font-weight: normal;
  text-indent: 10px;
  border-left: 2px solid #2d8cf0;
  margin: 10px;
}
.ivu-card-body{
  overflow: hidden;
}
.line{
  width: 96%;
  height: 1px;
  background: #dddee1;
  margin: 0 auto;
}
.checkbox{
  display: block; 
  margin-left: 12px;
  line-height: 24px;
}
.checkbox:hover{
  background: #f3f3f3;
}
.option-wrap{
  overflow: hidden;
}
.progress{
  margin-top: 200px;
  padding: 0 150px;
}

/* 读取文件 */
input[type=file], .input-style {
  width: 420px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border: 2px dashed #dddee1;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -160%);
  opacity: 0;
  cursor: pointer;
}
input[type=file] {
  z-index: 2;
}
.input-style {
  z-index: 1;
  opacity: 1;
}
.help {
  margin-left: 228px;
}
.help img{
  width: 300px;
}